



{% extends 'base.html' %}
<head>
    <title>
      {% block title %}Events {% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    
    <h1>PDX DANCE EVENTS: </h1>
    
      <ul>   Group Events
        {% for event in events %}
        

        

            {{event.group.group_dance_name | default('NONE', boolean=true)}}
            <div>
                <button type="button">Going!</button>
                <button type="button">Interested!</button>
            </div>
          <li>{{event.dance_event_name}} :{{event.dance_event_description}}, {{event.dance_event_date}}</li>
      
         
       
          
        {# Event is a sql alchemy object and it has all the attributes that are defined in model
        and you are able to access values using . notation because its an object #}  
        {% endfor %}
      </ul>
    
    
        <div id="map">    <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC389BQpOUF3nQFHc7qky-pJoVMkdJo2Vo&callback=initMap&libraries=&v=weekly"
          async>
      
        
        </script> 
                    </div>
      
    {% endblock %}
<
    {% block after_body %} 
    <form action="/all_dance_groups">
      <div>
        <label> Join groups to start dancing with your community </label>
          <input value = "Join Groups" type="submit">
      </div>
    </form>

    <form action="/add_event">
      <div>
        <label> Create an event for your community </label>
          <input value = "Create New Event" type="submit">
      </div>
    </form> 



    
  <h2>Navigation</h2>
  <ul>
    <li><a href="/all_events">See all events coming up in our calendar</a></li>
    <li><a href="/user_profile">Return to Profile</a></li>
  
  </ul>
    {% endblock %}

  </body>

  
  

</html>
