



{% extends 'base.html' %}
<head>
    <title>
      {% block title %}Events {% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    
    <h1>DANCE PDX EVENTS</h1>

      <div class="container">   
        
        <div class="row row-cols-3">
<!-- 
          
           https://images.unsplash.com/photo-1542596827-4559ae8ffdbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80
                
        
          
           
          https://static.wixstatic.com/media/89afb8_72bd0872084d4710bf65f888bcb4c143~mv2_d_4608_2290_s_2.jpeg"  -->
         
          <!-- https://images.unsplash.com/photo-1504609813442-a8924e83f76e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" -->
          <!-- https://image.flaticon.com/icons/png/128/1997/1997669.png" -->
            {% for event in events %}
            <div class="col mb-4">
              <div class="card h-100" style="background-color:#000000">
                <img src=" https://images.unsplash.com/photo-1556298209-c77127834d8a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80 "class="card-img-top" alt="...">
                <h2 class="card-title">{{event.dance_event_name}}</h2>
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item"> {{event.dance_event_description}}</li>
                  <li class="list-group-item">{{event.dance_event_date}}</li>
                  <li class="list-group-item"> {{event.dance_event_location}}</li>
                </ul>
                <div>
                  <button id="Going!" type="button" class="btn btn-outline-light btn-lg">Going!</button>
                  <button id="Interested!" type="button" class="btn btn-outline-light btn-lg">Interested!</button>
                  
                </div>
              </div>
            </div>
            {% endfor %}
            
          
        
        </div>
      </div>  
    

      <div class="container">   
        <div class="row">
            <div class="col mb-4">
              <div class="card h-100" style="background-color:#000000">
                <h2 class="card-title"></h2>
                  <form action="/add_event">
                    <div class="form-group">
                      <input value= "Create New Event" type="Submit" class="btn btn-outline-light btn-lg" style="background-color: #000000"></button>
                    </div>
                  </form>
              </div>
            </div>
        </div> 
      </div>
     
        {# Event is a sql alchemy object and it has all the attributes that are defined in model
        and you are able to access values using . notation because its an object #}  
      
    
    
    <div id="map" style="height:100%"></div>

    
<div class="container">   
  <div class="col mb-4">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000000">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Homepage <span class="sr-only"> (current) </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_events"> Events </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_dance_groups"> Groups </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_profile"> User Profile </a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</div>








        
    <script>
      console.log('JS IS WORKING!')

     
      
      let event_object = {{ event_object|safe }}
      console.log(event_object, '====== EVENT OBJECT ======"')
      console.log(Object.values(event_object), '&&&&& EVENT OBJECT VALUES &&&&&')

      // let addresses = $('#allevents').data('addresses');
      // console.log(addresses)

      function initMap() {
        // The location of PDX
        const portland_or = {lat: 45.523064, lng: -122.676483};
        // The map, centered at Portland, OR
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: portland_or,
          mapId: "f56c050dbfe81f32"
        });
        // The marker, positioned in portland
        // addresses = events.map((event) => event.dance_event_location) 
        
        // console.log(addresses)
        
        // let markers = []
        
        Object.values(event_object).map((event) => {       
          const image = "https://image.flaticon.com/icons/png/128/1997/1997669.png";
          
          let marker = new google.maps.Marker({
            position: event.position,
            // address: event.address,
            label: event.title,
            // description: event.description,
            map: map,
            draggable: false,
            icon: image
          });
        const infoWindow = new google.maps.InfoWindow({
        // content: markerInfo,
        maxWidth: 200,
        content: event.description
        
        }); 
          // markers.push(marker)
          marker.setMap(map);
          marker.addListener("click", ()=> {
            infoWindow.open(map,marker);
          })
        });

        console.log(markers, '++++++++ MARKERS +++++++')
      }
     



      // for (const marker of markers) {
      // const markerInfo = (`
      //   <h1>${marker.title}</h1>
      //   <p>
      //     Located at: <code>${marker.position.lat()}</code>,
      //     <code>${marker.position.lng()}</code>
      //   </p>
      // `);
  
      // const infoWindow = new google.maps.InfoWindow({
      //   // content: markerInfo,
    //   //   maxWidth: 200
    //   // });
  
    //   markers.addListener('click', function() {
    //     infoWindow.open(map, marker);
    //   });
    // }

    //   markers.addListener('click', () => {
    //       alert('Dancing Time!');
    //   });
    //   const pdxInfo = new google.maps.InfoWindow({
    //     content: '<h1>Portland!</h1>'
    //   });
    //   pdxInfo.open(map, markers);
    
  
    </script>
      

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC389BQpOUF3nQFHc7qky-pJoVMkdJo2Vo&map_ids=f56c050dbfe81f32&callback=initMap"
      async>
    </script> 
      
    {% endblock %}

    {% block after_body %} 
    




    
  
    {% endblock %}

  </body>

  
  

</html>
