{% extends 'base.html' %}
{% block title %}All Groups{% endblock %}
<div> <img src=" /img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block head %}{% endblock %}

  
</head>
<body>
  {% block body %}
  <h1>Groups</h1>

<h2>
  <div>
    <label> Group Info</label>
 


  </div>

  {% for group in groups %}
  <ul>
  <li>
  {{group.group_dance_types}}<li>{{group.group_dance_name}}</li>
  </li>


    <li><a href="/group_profile/{{group.group_dance_types}}">Group Profile</a></li>
  

</ul>
  {% endfor %}

  <h2>Navigation</h2>
  <ul>
    <li><a href="/all_events">See all events coming up in our calendar</a></li>
    <li><a href="/user_profile">Return to Profile</a></li>
  
  </ul>

  <script src="/static/danceproject.js"></script>
{% endblock %}

</body> 

{% block after_body %}{% endblock %}


</html>

