{% extends 'base.html' %}
{% block title %}Create a New Dance Event{% endblock %}

{% block body %}




<div class= "container">
  <div class="col mb-4"> 
  <div class="jumbotron align-items-center" style="background-color:#000000" >
    <h1 class="display-4"> Event Info Form</h1>
     <h2>Create a new dance event: a class, practica, pop-up, meet-up, or social and get grooving!</h2>
      <hr class="my-4">
        
        <form action="/add_event" method="POST">
          <div class="form-group" >
            <h3>
                <label>Event Name: </label>
                <input type="text" name="eventname">
            </h3>
            <h3>
              <label>Event Location:</label>
              <input type="text" name="location" required>
            </h3> 
           <h3>
             <label>Event Description:</label>
                <input type="textarea" name="description"> 
            </h3>
            <h3>
              <label>Event Date:</label>
                <input type="date" name="date" required>
            </h3>
            <h3>
              <label>Event Group Type:</label>
                <select name= "Group Type" id=' Group Type'>
                    <option value="salsa">Salsa</option>
                    <option value="swing">Swing</option>
                    <option value="blues">Blues</option>
                    <option value="tango">Tango</option>
                    <option value="hiphop">Hip Hop</option>
                </select>
            </h3>
            <h3>
                <label>Event Group Name:</label>
                <select name= "Group Name" id=' Group Name'>
                    <option value="portland salsa y bachata dancers">Portland Salsa y Bachata Dancers</option>
                    <option value="swing pdx">Swing PDX</option>
                    <option value="blues dancers of pdx">Blues Dancers of PDX</option>
                    <option value="milongueros pdx">Milongueros PDX</option>
                    <option value="pdx hip hop">PDX Hip Hop</option>
                </select>
            </h3>
              
            <h3>
            <label>Is this a reoccuring event?</label>
                <label>yes</label><input type="radio" id="Yes" name=" reoccuringevent" value="Yes">
                <label>no</label><input type="radio" id="No"  name=" reoccuringevent" value="No">
            </h3>
            
            <button type="submit" class="btn btn-outline-light btn-lg">Submit</button>
          </div>
      </form>
    </div> 
  </div>
</div>
       








    
<div class="container">   
    <div class="col mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000000">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/"> Homepage <span class="sr-only"> (current) </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all_events"> Events </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all_dance_groups"> Groups </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_profile"> User Profile </a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>
  
  
   



{% endblock %}

<!-- dance_event_name={self.dance_event_name}\
        dance_event_city={self.dance_event_city} dance_event_zipcode={self.dance_event_zipcode} dance_event_description={self.dance_event_description}\
        dance_event_date={self.dance_event_date} dance_event_time={self.dance_event_time}\
        dance_event_reoccuring={self.dance_event_reoccuring} >' -->
