{% extends 'base.html' %}
{% block title %}Create a New Dance Event{% endblock %}
<div> <img src=" /img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block body %}
  <h1>Event Info Form</h1>
     <form>
         <div class = "container">
             <label>Event Name: </label>
            
             <label>Event City:</label>
             
             <label>Event Zipcode:</label>

             <label>Event Description:</label>
             <input type="textarea"> 

             <label>Event Date:</label>

             <label>Event Time:</label>

             <label>Is this a reoccuring event?</label>
             <input type="radio" id="Yes" name="event" value="Yes">
             <input type="radio" id="No"  name="event" value="No">

         </div>
     </form>


  <h2>Navigation</h2>
  <ul>
    <li><a href="/calendar">See all events coming up in our calendar</a></li>
    <li><a href="/sign_up">Sign up today and start dancing away!</a></li>
  </ul>
{% endblock %}

<!-- dance_event_name={self.dance_event_name}\
        dance_event_city={self.dance_event_city} dance_event_zipcode={self.dance_event_zipcode} dance_event_description={self.dance_event_description}\
        dance_event_date={self.dance_event_date} dance_event_time={self.dance_event_time}\
        dance_event_reoccuring={self.dance_event_reoccuring} >' -->
