{% extends 'base.html' %}
{% block title %}Create a New Dance Event{% endblock %}
<div> <img src=" /img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block body %}

  <h1>Event Info Form</h1>
     <form action="/add_event" method="POST">

         <div class = "container">

            <label>Event Name: </label>
                <input type="text" name="eventname">

            <label>Event Location:</label>
                <input type="text" name="location" required>

            <label>Event Description:</label>
                <input type="textarea" name="description"> 

            <label>Event Date:</label>
                <input type="date" name="date" required>

            <!-- <label>Event Time:</label>
                <input type="number" name="time" required> -->

            <label>Event Group Type:</label>
                <select name= "Group Type" id=' Group Type'>
                    <option value="salsa">Salsa</option>
                    <option value="swing">Swing</option>
                    <option value="blues">Blues</option>
                    <option value="tango">Tango</option>
                    <option value="hiphop">Hip Hop</option>
                </select>

                <label>Event Group Name:</label>
                <select name= "Group Name" id=' Group Name'>
                    <option value="portland salsa y bachata dancers">Portland Salsa y Bachata Dancers</option>
                    <option value="swing pdx">Swing PDX</option>
                    <option value="blues dancers of pdx">Blues Dancers of PDX</option>
                    <option value="milongueros pdx">Milongueros PDX</option>
                    <option value="pdx hip hop">PDX Hip Hop</option>
                </select>




            <label>Is this a reoccuring event?</label>
                <label>yes</label><input type="radio" id="Yes" name=" reoccuringevent" value="Yes">
                <label>no</label><input type="radio" id="No"  name=" reoccuringevent" value="No">
            
            <button type="submit">Submit</button>
         </div>
     </form>


  <h2>Navigation</h2>
  <ul>
    <li><a href="/all_events">See all events coming up in our calendar</a></li>
    <li><a href="/user_profile">Return to Profile</a></li>
  
  </ul>
    

    
    <!-- <li><a href="/sign_up">Sign up today and start dancing away!</a></li> -->
  </ul>
{% endblock %}

<!-- dance_event_name={self.dance_event_name}\
        dance_event_city={self.dance_event_city} dance_event_zipcode={self.dance_event_zipcode} dance_event_description={self.dance_event_description}\
        dance_event_date={self.dance_event_date} dance_event_time={self.dance_event_time}\
        dance_event_reoccuring={self.dance_event_reoccuring} >' -->
