{% extends 'base.html' %}
    <title>
      {% block title %}Event{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>Event Page</h1>

  <h2>
    <div>
      <label> Member Info</label>
        <label> Event name: </label>
        {{event.dance_event_name}}

        <label> Event City: </label>
          {{event.dance_event_city}} 

        <label>Event Zipcode: </label>
          {{event.dance_event_zipcode}}

        <label> Event Description:</label>
          {{event.dance_event_description}}

        <label> Event Date:</label>
          {{event.dance_event_date}}

        
        <label> Groups</label>
        
        <label> Event reoccuring</label>
          {{event.dance_event_reoccuring}}

    </div>
  </h2>

  <h3> Navigation</h3>
    <ul>
      <form action="/add_event">
        <div>
          <input value = "Create Dance Event" type="submit">
        </div>
      </form>
      <form action="/add_group">
      <div>
        <input value = "Create New Group" type="submit">
      </div></form>

      <ul>
        <li><a href="/all_events">See all events coming up in our calendar</a></li>
        <li><a href="/user_profile">Return to Profile</a></li>
      
      </ul>
  
    </ul>
    
    {% endblock %}

    {% block after_body %}{% endblock %}
  </body>



</html>
