{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block head %}{% endblock %}

  
</head>
<body>
  {% block body %}
  <h1>Group Page</h1>

<h2>
  <div>
    <label> Group Info</label>
   
  </div>

  {%for user in users %}
  {{user.username}}
  {{user.user_city}}
  
  {%endfor%}

  <h2>Navigation</h2>
  <ul>
    <li><a href="/all_events">See all events coming up in our calendar</a></li>
    <li><a href="/user_profile">Return to Profile</a></li>
  
  </ul>
    
    <!-- <li><a href="/sign_up">Sign up today and start dancing away!</a></li> -->
  </ul>
{% endblock %}

</body> 

{% block after_body %}{% endblock %}


</html>

