{% extends 'base.html' %}
{% block title %}Dance Now PDX{% endblock %}

{% block body %}
  <h1>Welcome Dancers! Join the community of dancers around Portland, Oregon. Whether you are interested in Salsa, Hip Hop, Swing - you can connect with other dancers and communities, attend events, 
    create your own events, and use our calendar of events with our map to see where social dances and lessons are going on in what neighborhood! </h1>
  <!-- <style > 
    body   {
              background: rgb(207, 142, 199);
            } </style> -->
  <h2>Navigation</h2>
  
  <div> 
    <form action= "/login">
      <div>
      <label> Already a Dance Now user? Login to your account</label>
      <input value = "Login" type="submit">
    </div>

 
      <form action="/sign_up" method="POST">
        <div>
        <label> New User? Sign up today and start dancing away!</label>
        <input value = "Sign Up" type="submit">
        </div>
      </form>
   
    
  </div>
 



<!-- 
    <li><a href="/log_in">Login to your account</a></li>
    <li><a href="/sign_up">Sign up today and start dancing away!</a></li>
  </ul> -->
{% endblock %}