{% extends 'base.html' %}
{% block title %}Dance Now PDX{% endblock %}

{% block body %}
  <h1>Welcome!</h1>
  <style > 
    body   {
              background: rgb(207, 142, 199);
            } </style>
  <h2>Navigation</h2>
  
  <div> 
    <form action= "/log_in">
      <div>
      <label> Login to your account</label>
      <input value = "Login" type="submit">
    </div>

 
      <form action="/sign_up" method="POST">
        <div>
        <label> New User? Sign up today and start dancing away!</label>
        <input value = "Sign Up" type="submit">
        </div>
      </form>
   
    
  </div>
 



<!-- 
    <li><a href="/log_in">Login to your account</a></li>
    <li><a href="/sign_up">Sign up today and start dancing away!</a></li>
  </ul> -->
{% endblock %}