{% extends 'base.html' %}
{% block title %}Please Log In to Continue{% endblock %}
<div> <img src=" img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block body %}
  <h1>Dancer Log In Form</h1>
  <form action="/user_profile">   
    <div class= 'container'>
        <label>Username:</label>
        <input type="username" name="username" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
        
        <a href="/forgotten_password">Forgot Password?</a>
    </div>

    </form>

     <div> <img src=" img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>


<h2>Navigation</h2>
  <ul>
    <li><a href="/sign_up"> Not a memember yet? Sign up today and start dancing away!</a></li>
  </ul>
{% endblock %}


