{% extends 'base.html' %}
{% block title %}Please Log In to Continue{% endblock %}
<div> <img src=" img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block body %}
  <h1>Dancer Sign Up Form</h1>
  <form action="/user_profile" method="POST">   
    <div class= 'container'>
        <label>Username:</label>
            <input type="username" name="username" required>
        <label> First Name: </label>
            <input type="text" name="name" required>    
        <label> Last Name: </label>
            <input type="text" name="name" required>    
        <label>Email: </label>
            <input type="email" name="name" required> 
        <label>Password:</label>
            <input type="password" name="password" required>
        <label>User Bio:</label>
            <input type="text" name="name" required>    
        <label> From City:</label>
            <input type="text" name="name" required>    
        <label>From Zipcode:</label>
            <input type="number" name="name" required>   
        <label>User Events</label>
            <input type="text" name="name" required>   
        <button type="submit">Submit</button>
    </div>
  </form>
        
        
        <!-- <label>User Groups</label> -->

     

        <h2>Navigation</h2>
        <form action="/log_in">
          <div>
            <label> Already a member? Login and find your dance groups and events!</label>
            <input value = "Login" type="submit">
          </div>
        </form>
      {% endblock %} -->
      

















<!--         
        <a href="/forgotten_password">Forgot Password?</a>
    </div>

    </form>

     <div> <img src=" img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>

