{% extends 'base.html' %}
{% block title %}Welcome ?????{% endblock %}
<div> <img src=" /img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block body %}
  <h1>Welcome {{user.username}}</h1>

  <h2>
    <div>
      <label> Member Info</label>
        <label> Username: </label>
          {{user.username}}

        <label> Full Name: </label>
          {{user.user_fname}} {{user.user_lname}}

        <label>Email: </label>
          {{user.email}}

        <label> City:</label>
          {{user.user_city}}

        <label> Zipcode:</label>
          {{user.user_zipcode}}

        <label> Bio:</label>
         {{user.user_bio}}

        <label> Groups</label>
        <form action="/user_profile" method="POST">
          What groups would you like to join?
        
          <input type="checkbox"  name='Salsa' value="Salsa">
          <label>Salsa</label>
        
          <input type="checkbox" name="Swing"  value="Swing">
          <label>Swing</label>
        
          <input type="checkbox" name="Blues" value="Blues">
          <label>Blues</label>

          <input type="checkbox" name="Tango" value="Tango">
          <label>Tango</label>

          <input type="checkbox" name="Hip Hop" value="Hip Hop">
          <label>Hip Hop</label>

          <button type="submit">Submit</button>

        </form>
         
    
        <label>Member of:</label>
        <div>
          {% for name in groupnames%}
          <li>
            {{name}} IS THIS WORKING ????????????????????
          </li>
          {%endfor%}
        </div>
        
        <label> Events</label>
          {{user.user_events}}

    </div>
  </h2>
  <!-- <form action="/all_dance_groups">
  <div>
    <label> Join groups to start dancing with your community </label>
    <input value = "GROUPS" type="submit">
  </div>
</form> -->

  <form action="/all_events">
  <div>
    <label>See all events on calendar</label>
    <input value = "EVENTS" type="submit">
  </div>
</form>





DISPLAY GROUPS--->  DISPLAY EVENTS 

  <h3>Navigation</h3>
  <div>
    <form action="/add_event">
      <div>
        <input value = "Create Dance Event" type="submit">
      </div>
    </form>
    <form action="/add_group">
    <div>
      <input value = "Create New Group" type="submit">
    </div></form>

    

  
  
    
      <form action="/logout" >
        <button type="submit">Logout</button>
      </form>
  </div>


{% endblock %}