{% extends 'base.html' %}
{% block title %}Welcome ?????{% endblock %}
<div> <img src=" /img/dancefeet1.jpg" alt="Dance Feet" style="width:100%"> </div>
{% block body %}
  <h1>Welcome {{user.username}}</h1>

  <h2>
    <div>
      <label> Member Info</label>
        <label> Username: </label>
          {{user.username}}

        <label> Full Name: </label>
          {{user.user_fname}} {{user.user_lname}}

        <label>Email: </label>
          {{user.email}}

        <label> City:</label>
          {{user.user_city}}

        <label> Zipcode:</label>
          {{user.user_zipcode}}

        <label> Bio:</label>
         {{user.user_bio}}

        <label> Groups</label>
        
        <label> Events</label>
          {{user.user_events}}

    </div>
  </h2>




  <h3>Navigation</h3>
  <div>
    <form action="/add_event">
      <div>
        <input value = "Create Dance Event" type="submit">
      </div>
    </form>

    <form action="/event_calendar">
      <div>
        <label>Event Calendar and Map</label>
        <!-- <a href  -->
      </div>
    </form>

  
    <form action="add_group_dance">
      <div>
        <input value = " Create Group Dance" type="submit">
      </div>
    </form>

  
  
    <label>Logout</label>
      <form action="/" method="POST">
        <button type="submit">Logout</button>
      </form>
  </div>


{% endblock %}